body {
    background-color: #F8F9FA;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .wrapper {
    width: 1116px;
    margin: 0 auto;
  }
  .logos {
    width: 676px;
    height: 551px;
  }